.nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 2rem 0;
}
.link {
    color: #e5e5e1;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
}
.link:hover {
    color: #acacaa;
}

.navlist{
    display: flex;
    flex-direction: row;
}